<h1>SpaceX Mission Launch List</h1>

<ul>
    <li *ngFor="let launch of launches">
        <div class="link-holder" routerLink="/detail/{{launch.flight_number}}">
            <img class="img-thumb" src="{{launch.links.mission_patch_small}}">
            <div class="title-holder">
                <h2>{{launch.mission_name | uppercase}}</h2>
                <p>{{launch.launch_year}}</p>
            </div>
            <div class="description">{{launch.details}}</div>
        </div>
    </li>
</ul>
